<%- include('./partials/navbar-student.ejs') %>
<title>Exam Ended</title>
</head>
<body>
    <div class="examEnded m-2" style="text-align: center; background-color: moccasin;">
        <h3>Your exam has ended</h3>
    </div>
<%- include('./partials/footer.ejs') %>